$maincolor:rgb(63, 169, 245);
$black:#45474c;

.component-body{
    margin-top: 6%;
    .title{
        color: $maincolor;
        text-align: center;
    }
    .spinner{
        margin: 5% auto;
    }
}