@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
$maincolor: rgb(63, 169, 245);
$black:#45474c;
$darkblue:rgb(20, 30, 48);

body {
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: auto;
  overflow-y: scroll;
  background: url('../src/assets/Images/bg.jpg') center fixed;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: $maincolor !important;
}

.mat-step-header .mat-step-icon {
  background-color: $black;
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: $black;
  font-size: 16px;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $maincolor;
}

.mat-form-field-label {
  color: white !important;
}

mat-form-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-label {
  color: $maincolor;
}

mat-form-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-ripple {
  background-color: $maincolor;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $maincolor;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $maincolor;
}

.mat-calendar-body-selected {
  background-color: $maincolor
}

.mat-datepicker-toggle-active {
  color: $maincolor;
}

.mat-snack-bar-container {
  background-color: $black;
  color: white;
}

.mat-simple-snackbar-action {
  color: $maincolor;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: white;
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
  background: rgba(20, 30, 48, 0.8);
  border-radius: 20px;
  border: 3px solid $maincolor;
  color: white;
}

.mat-stepper-vertical .mat-button,
.mat-flat-button,
.mat-stroked-button {
  background-color: $maincolor;
  margin: 1% !important;
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: white;
  font-weight: bold;
}

.mat-step-header .mat-step-label,
.mat-step-header .mat-step-optional {
  color: white;
}

.mat-badge-content {
  background-color: $black;
  color: white;
}

.mat-tab-label,
.mat-tab-link {
  color: white;
  caret-color: white;
}

.mat-select-panel {
  background: $darkblue;
  background: -webkit-linear-gradient(to right, #243B55, $darkblue);
  background: linear-gradient(to right, #243B55, $darkblue);
  border: 1px solid $maincolor;
}

.mat-option {
  color: white;
}

.mat-select-value {
  color: white;
}

.mat-datepicker-content {
  border: 1px solid $maincolor;
  background-color: $darkblue;
  background: -webkit-linear-gradient(to right, #243B55, $darkblue);
  background: linear-gradient(to right, #243B55, $darkblue);
  color: white;

  .mat-calendar-body-cell-content {
    color: white;
  }

  .mat-calendar-body-label {
    color: white;
  }

  .mat-calendar-table-header {
    color: white;
  }

  .mat-calendar-arrow {
    border-top-color: white;
  }

  .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: white;
  }
}

.mat-option.mat-active {
  color: $maincolor;
}

.mat-tab-label,
.mat-tab-link {
  color: white;
}

.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button,
.mat-datepicker-toggle {
  color: white;
}

.mat-select-arrow {
  color: white;
}

.mat-stepper-vertical-line::before {
  border-left-color: $maincolor;
}
.mat-dialog-container{
  background-color: $darkblue;
  border: 4px solid $maincolor;
  border-radius: 20px;
}
