@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
$maincolor: #d94f5c;

body {

  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  overflow-x:auto;
  overflow-y:scroll;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: $maincolor;
}
mat-form-field.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-label {
	color: $maincolor;
}
mat-form-field.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-ripple {
	background-color: $maincolor;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $maincolor;
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $maincolor;
}
.mat-calendar-body-selected {
  background-color: $maincolor
}
.mat-datepicker-toggle-active {
  color: $maincolor;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: $maincolor;
}