<div class="loginregister">
  <div class="account-forms">
    <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
      <mat-tab label="Inloggen">
        <h1 class="title">Inloggen</h1>

        <!--LOGIN-->
        <form [formGroup]="userLogin" (ngSubmit)='login()'>
          <table class="table login">
            <tr>
              <td class="form-icon-td">
                <i class="far fa-envelope fa-2x form-icon"></i>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="E-mailadres" aria-label="E-mailadres" type="email"
                    formControlName="email" required data-cy="login-email">
                  <mat-error *ngIf="userLogin.get('email')['errors']  && 
                  userLogin.get('email').touched">
                    {{getErrorMessage(userLogin.get('email')['errors']) }}
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class=" form-icon-td">
                <i class="fas fa-unlock-alt fa-2x form-icon"></i>
              </td>
              <td>
                <mat-form-field>
                  <input matInput [type]="hide3 ? 'text' : 'password'" placeholder="Wachtwoord" aria-label="Wachtwoord"
                    formControlName="password" required data-cy="login-password">
                  <mat-icon matSuffix (click)="hide3 = !hide3">
                    {{hide3 ? "visibility_off" : "visibility"}}
                  </mat-icon>
                  <mat-error *ngIf="userLogin.get('password')['errors']  && 
                  userLogin.get('password').touched">
                    {{getErrorMessage(userLogin.get('password')['errors']) }}
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="btn">
                <button class="button-confirm" mat-button [disabled]='!userLogin.valid'
                  data-cy="login-button">Inloggen</button>
              </td>
            </tr>

          </table>
          <p class="subtitle">Je kunt ook inloggen op de volgende manieren</p>
          <div class="login-icons">
            <i (click)="loginregisterFB()" class="fab fa-facebook fa-3x"></i>
          </div>
        </form>
      </mat-tab>
      <mat-tab data-cy="registertab" label="Registreren">
        <h1 class="title">Registreren</h1>

        <!--REGISTER-->
        <form [formGroup]="userRegister" (ngSubmit)='register()'>
          <table class="table">
            <tr>
              <td class="form-icon-td">
                <i class="far fa-user fa-2x form-icon"></i>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Voornaam" data-cy="register-firstname" required aria-label="Voornaam"
                    formControlName="firstname">
                  <mat-error *ngIf="userRegister.get('firstname')['errors']  && userRegister.get('firstname').touched">
                    {{getErrorMessage(userRegister.get('firstname')['errors']) }}
                  </mat-error>
                </mat-form-field>
              </td>
              <td class="form-icon-td">
                <i class="far fa-user fa-2x form-icon"></i>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Familienaam" data-cy="register-lastname" required aria-label="Voornaam"
                    formControlName="lastname">
                  <mat-error *ngIf="userRegister.get('lastname')['errors']  && userRegister.get('lastname').touched">
                    {{getErrorMessage(userRegister.get('lastname')['errors']) }}
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class="form-icon-td">
                <i class="fas fa-phone fa-2x form-icon"></i>
              </td>
              <td>
                <mat-form-field>
                  <span matPrefix>+ &nbsp;</span>
                  <input type="tel" matInput placeholder="Telefoonnummer" data-cy="register-telnr" required
                    aria-label="Telefoonnummer" formControlName="telnr">
                  <mat-error *ngIf="userRegister.get('telnr')['errors']  && userRegister.get('telnr').touched">
                    {{getErrorMessage(userRegister.get('telnr')['errors']) }}
                  </mat-error>
                </mat-form-field>
              </td>
              <td class="form-icon-td">
                <i class="fas fa-birthday-cake fa-2x form-icon"></i>
              </td>
              <td>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" data-cy="register-birthdate" placeholder="Geboortedatum"
                    required aria-label="Geboortedatum" formControlName="borndate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="userRegister.get('borndate')['errors']  && userRegister.get('borndate').touched">
                    {{getErrorMessage(userRegister.get('borndate')['errors']) }}
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class="form-icon-td">
                <i class="far fa-envelope fa-2x form-icon"></i>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="E-mailadres" data-cy="register-email" aria-label="E-mailadres"
                    type="email" formControlName="email" required>
                  <mat-error *ngIf="userRegister.get('email')['errors']  && userRegister.get('email').touched">
                    {{getErrorMessage(userRegister.get('email')['errors']) }}
                  </mat-error>
                </mat-form-field>
              </td>
              <td class="form-icon-td">
                <i class="fas fa-transgender-alt fa-2x form-icon"></i>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Geslacht</mat-label>
                  <mat-select aria-placeholder="Geslacht" data-cy="register-gender" formControlName="gender" required>
                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                      {{gender.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="userRegister.get('gender')['errors']  && 
                    userRegister.get('gender').touched">
                    {{getErrorMessage(userRegister.get('gender')['errors']) }}
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr formGroupName="passwordGroup">
              <td class="form-icon-td">
                <i class="fas fa-key fa-2x form-icon"></i>
              </td>
              <td>
                <mat-form-field>
                  <input matInput [type]="hide1 ? 'text' : 'password'" data-cy="register-password"
                    placeholder="Wachtwoord" required aria-label="Wachtwoord" formControlName="password">
                  <mat-icon matSuffix (click)="hide1 = !hide1">
                    {{hide1 ? "visibility_off" : "visibility"}}
                  </mat-icon>
                  <mat-error *ngIf="
                  userRegister.get('passwordGroup').get('password').errors &&
                  userRegister.get('passwordGroup').get('password').touched">
                    {{getErrorMessage(userRegister.get('passwordGroup').get('password').errors) }}
                  </mat-error>
                </mat-form-field>
              </td>
              <td class="form-icon-td">
                <i class="fas fa-key fa-2x form-icon"></i>
              </td>
              <td>
                <mat-form-field>
                  <input matInput [type]="hide2 ? 'text' : 'password'" data-cy="register-passwordConfirm"
                    placeholder=" Bevestig Wachtwoord" required aria-label="Bevestig Wachtwoord"
                    formControlName="passwordConfirm">
                  <mat-icon matSuffix (click)="hide2 = !hide2">
                    {{hide2 ? "visibility_off" : "visibility"}}
                  </mat-icon>
                </mat-form-field>
                <mat-error style="font-size: 12px; margin-top: -6%" *ngIf="
                userRegister.get('passwordGroup').errors &&
                userRegister.get('passwordGroup').get('passwordConfirm').touched &&
                userRegister.get('passwordGroup').get('password').touched
              ">
                  {{ getErrorMessage(userRegister.get('passwordGroup').errors) }}
                </mat-error>
              </td>
            </tr>
            <tr>
              <td colspan="4" class="btn">
                <button mat-button [disabled]='!userRegister.valid' data-cy="register-confirm"
                  class="button-confirm">Bevestigen</button>
              </td>
            </tr>

          </table>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
