$maincolor: rgb(63, 169, 245);
$black:#45474c;
$darkblue:rgb(20, 30, 48);

.account-forms {
  width: 50%;
  margin: 5% auto;
  padding: 4% 2%;
  border-radius: 50px;
  transition-duration: 1s;
  color: white;
  background: rgba(20, 30, 48, 0.8);
  border: 4px solid $maincolor;

  &:hover {
    transform: scale(1.02);
    transition-duration: 1s;
  }

}

.title {
  text-align: center;
  color: white;
  margin-bottom: 2%;
}

.table {
  td {
    padding: 0 2%;
  }

  .form-icon-td {
    padding: 0;

    .form-icon {
      position: relative;
      margin-left: 30%;
      color: $maincolor;
    }
  }

  width: 100%;

  mat-form-field {
    width: 100%;
    margin: 1.5% auto;
  }
}

.login {
  width: 50%;
  margin: 0 auto;
}

.button-confirm {
  margin-top: 4%;
  color: white !important;
  width: 100%;
  background-color: $maincolor;
  border-radius: 10px;
  border: $maincolor 2px solid;
  transition-duration: .5s;
}

@media (max-width:600px) {
  .account-forms {
    width: 100%;
    margin-top: 15%;
    overflow: hidden;
  }
}
