<p class="title">{{ride.travelDate | date:"dd/MM/yy" }} : {{ride.pickUpLocation.city.name}} <i
    class="fas fa-arrow-right"></i> {{ride.dropOffLocation.city.name}}</p>
<div class="ride-items">
  <table class="locations">
    <tr>
      <app-location [location]="ride.pickUpLocation"></app-location>
    </tr>
    <tr>
      <td class="dot"><i class="fas fa-circle fa-xs dot"></i></td>
    </tr>
    <tr>
      <td class="line">&nbsp;</td>
    </tr>
    <tr>
      <td class="dot"><i class="fas fa-circle fa-xs dot"></i></td>
    </tr>
    <tr>
      <app-location [location]="ride.dropOffLocation"></app-location>
    </tr>
  </table>
  <div *ngIf="!isSoldOut()" class="price-seats">
    {{ride.availableSeats}}/{{ride.totalAvailableSeats}} zitplaatsen beschikbaar
  </div>
  <div *ngIf="isSoldOut()" class="sold-out price-seats">
    Uitverkocht
  </div>
  <div class="user">
    <i class="fas fa-user fa-3x"></i>
    <p>{{ride.owner.firstName}} {{ride.owner.lastName}}</p>
  </div>
  <div *ngIf="isParticipatedRide === 1">
    <button mat-button class="button-confirm" (click)="removeUserFromRide()">Uitschrijven</button>
  </div>
  <div *ngIf="isParticipatedRide === 0">
    <button mat-button class="button-confirm" (click)="removeRide()">Verwijder rit</button>
  </div>
</div>
