<div class="profile">
  <div class="header">
    <!-- <img src="../../assets/Images/profilepic.png" alt="profilepic" class="profilepic"> -->
    <div class="header-content">
      <h1>
        {{user.firstName}} {{user.lastName}}
      </h1>
      <p>
        <i class="fas fa-arrow-circle-right fa-2x"></i><span>{{user.email}}</span>
      </p>
    </div>
  </div>
  <div class="subnav">
    <button mat-raised-button [routerLink]="['personaldata']"><a>Wijzig persoonlijke gegevens</a></button>
    <button mat-raised-button matBadge="{{pRides}}" matBadgePosition="after" [routerLink]="['participatedRides']"><a >Deelgenomen ritten</a></button>
    <button mat-raised-button matBadge="{{oRides}}" matBadgePosition="after" [routerLink]="['offeredRides']"><a >Geplaatste ritten</a></button>
  </div>
  <div class="content">
      <router-outlet></router-outlet>
  </div>
</div>
