$maincolor:rgb(63, 169, 245);
$black:#45474c;
$darkblue:rgb(20,30,48);

.component-body {
  padding-top: 3%;
  color: $black;

  p {
    color: $maincolor;
    font-weight: bold;
    font-size: 16px;
  }

  .title {
    color: $maincolor;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 8%;
  }

  .stepper {
    width: 60%;
    margin: 1% auto;
    background-color: inherit;

    .table{
      width: 60%;
      margin-bottom: 1%;
      td {
          padding: 0 2%;
        mat-form-field {
          width: 100%;
        }
      }
    }
    .details{
      width: 60%;
      margin-bottom: 1%;
      mat-form-field{
        width: 40%;
      }
    }
    

    .ready {
      margin-top: 2%;

      p {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
