<div class="intro">
  <h1 class="title">
    welkom {{user.firstName}} !
  </h1>
</div>
<div class="side-intro">
  <div class="image">
    <img src="../assets/Images/carpool.jpg" alt="side-intro-image">
  </div>
  <div class="content">
    <h2>Waar wil je naartoe?</h2>
    <p>Wij verzekeren je de tofste en goedkoopste rit die je ooit gereden hebt!</p>
    <a class="button" [routerLink]="['/searchRide']">Zoek een rit</a>
  </div>
</div>
<div class="benefits">
  <div class="benefit">
    <i class="fas fa-map-signs fa-5x"></i>
    <h2>Keuze</h2>
    <p>Met toegang tot miljoenen ritten, vind je snel mensen in de buurt die dezelfde richting op reizen als jij.</p>
  </div>
  <div class="benefit">
    <i class="fas fa-euro-sign fa-5x"></i>
    <h2>Prijs</h2>
    <p>Geniet van ongezien scherpe prijzen waarbij je er nog eens sociaal contact bovenop krijgt.</p>
  </div>
  <div class="benefit">
    <i class="fas fa-shipping-fast fa-5x"></i>
    <h2>Sneller op de weg</h2>
    <p>Vergeet die tocht door de stad. Regel een rit die bij je in de buurt vertrekt.</p>
  </div>
</div>
