<div class="intro">
  <h1 class="title">
    welkom {{userName}} !
  </h1>
  <!-- <img class="intro-img" src="../assets/Images/intro.jpg" alt="intro-img"> -->
</div>
<div class="side-intro">
  <div class="image">
    <img src="../assets/Images/carpool.jpg" alt="side-intro-image">
  </div>
  <div class="content">
    <h2>Waar wil je naartoe?</h2>
    <p>Wij verzekeren je de tofste en goedkoopste rit die je ooit gereden hebt!</p>
    <a class="button" [routerLink]="['/searchRide']">Zoek een rit</a>
  </div>
</div>
