<div class="personal-data">
  <h1>Wijzig je persoonlijke gegevens</h1>
  <form [formGroup]="userEdit" (ngSubmit)='edit()'>
    <table class="table">
      <tr>
        <td class="form-icon-td">
          <i class="far fa-user fa-2x form-icon"></i>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Voornaam" required aria-label="Voornaam" formControlName="firstname">
            <mat-error *ngIf="userEdit.get('firstname')['errors']  && userEdit.get('firstname').touched">
              {{getErrorMessage(userEdit.get('firstname')['errors']) }}
            </mat-error>
          </mat-form-field>
        </td>
        <td class="form-icon-td">
          <i class="far fa-user fa-2x form-icon"></i>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Familienaam" required aria-label="Voornaam" formControlName="lastname">
            <mat-error *ngIf="userEdit.get('lastname')['errors']  && userEdit.get('lastname').touched">
              {{getErrorMessage(userEdit.get('lastname')['errors']) }}
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="form-icon-td">
          <i class="fas fa-phone fa-2x form-icon"></i>
        </td>
        <td>
          <mat-form-field>
            <span matPrefix>+ &nbsp;</span>
            <input type="tel" matInput placeholder="Telefoonnummer" required aria-label="Telefoonnummer"
              formControlName="telnr">
            <mat-error *ngIf="userEdit.get('telnr')['errors']  && userEdit.get('telnr').touched">
              {{getErrorMessage(userEdit.get('telnr')['errors']) }}
            </mat-error>
          </mat-form-field>
        </td>
        <td class="form-icon-td">
          <i class="fas fa-birthday-cake fa-2x form-icon"></i>
        </td>
        <td>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Geboortedatum" required aria-label="Geboortedatum"
              formControlName="borndate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="userEdit.get('borndate')['errors']  && userEdit.get('borndate').touched">
              {{getErrorMessage(userEdit.get('borndate')['errors']) }}
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="form-icon-td">
          <i class="far fa-envelope fa-2x form-icon"></i>
        </td>
        <td>
          <mat-form-field>
            <input matInput disabled placeholder="E-mailadres" aria-label="E-mailadres" type="email"
              formControlName="email" required>
            <mat-error *ngIf="userEdit.get('email')['errors']  && userEdit.get('email').touched">
              {{getErrorMessage(userEdit.get('email')['errors']) }}
            </mat-error>
          </mat-form-field>
        </td>
        <td class="form-icon-td">
          <i class="fas fa-transgender-alt fa-2x form-icon"></i>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Geslacht</mat-label>
            <mat-select aria-placeholder="Geslacht" formControlName="gender" required (ngModel)="1">
              <mat-option *ngFor="let gender of genders" [value]="gender.value">
                {{gender.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userEdit.get('gender')['errors']  && 
                  userEdit.get('gender').touched">
              {{getErrorMessage(userEdit.get('gender')['errors']) }}
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <button mat-button [disabled]='!userEdit.valid' class="button-confirm">Wijzig gegevens</button>
        </td>
      </tr>
    </table>
  </form>
  <div class="subsubnav">
    <button mat-button (click)="changeShowForm()" class="changepass">Wijzig wachtwoord</button>
    <button mat-button (click)="changeShowFileReader()" class="changepass">Wijzig profielfoto</button>
  </div>
  <div *ngIf="showForm">
    <form [formGroup]="passwordEdit" (ngSubmit)='editPassword()'>
      <table class="table table2">
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="password" placeholder="Oud wachtwoord" required aria-label="Oud Wachtwoord"
                formControlName="oldPassword">
              <mat-error *ngIf="
              passwordEdit.get('oldPassword').errors &&
              passwordEdit.get('oldPassword').touched">
                {{getErrorMessage(passwordEdit.get('oldPassword').errors) }}
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="password" placeholder="Nieuw wachtwoord" required aria-label="Nieuw Wachtwoord"
                formControlName="newPassword">
              <mat-error *ngIf="
                  passwordEdit.get('newPassword').errors &&
                  passwordEdit.get('newPassword').touched">
                {{getErrorMessage(passwordEdit.get('newPassword').errors) }}
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="password" placeholder="Bevestig wachtwoord" required
                aria-label="Bevestig wachtwoord" formControlName="newPasswordConfirm">
              <mat-error *ngIf="
              passwordEdit.errors &&
              passwordEdit.get('newPassword').touched &&
              passwordEdit.get('newPasswordConfirm').touched
              ">
                {{ getErrorMessage(passwordEdit.errors) }}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="padding: 0 3%;">
            <button mat-button [disabled]='!passwordEdit.valid' class="button-confirm">Wijzig wachtwoord</button>
          </td>
        </tr>
      </table>
    </form>
  </div>

  <div *ngIf="showFileReader">
    <form [formGroup]="fileReader" (ngSubmit)='upload()'>
      <table class="table tableFileReader">
        <tr>
          <td>
            <mat-form-field>
              <ngx-mat-file-input #removableInput formControlName="image" required placeholder="Kies een foto" #file
                accept="image/*" (change)="preview()"></ngx-mat-file-input>
              <button mat-icon-button matSuffix *ngIf="!removableInput.empty"
                (click)="removableInput.clear($event);removeImage()">
                <mat-icon>clear</mat-icon>
              </button>
              <mat-icon matSuffix>folder</mat-icon>
              <mat-error *ngIf="fileReader.get('image')['errors']  && 
                        fileReader.get('image').touched">
                {{getErrorMessage(fileReader.get('image')['errors']) }}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <img [src]="imgURL" width="300" *ngIf="imgURL">
          </td>
        </tr>
        <tr colspan="3" style="padding: 0 3%;">
          <td>
            <button mat-button [disabled]='!fileReader.valid' class="button-confirm">Wijzig profielfoto</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
