$maincolor: rgb(63, 169, 245);
$black:#45474c;
$darkblue:rgb(20, 30, 48);

.personal-data {
  color: white;
  background: rgba(20, 30, 48, 0.8);
  border: 3px solid $maincolor;
  border-radius: 50px;
  color: white;

  h1 {
    text-align: center;
    margin: 5% 0;

  }

  .changepass {
    margin: 2%;
    border: 1px solid white !important;
    border-radius: 15px;
  }

  .table {
    td {
      padding: 0 2%;
    }

    .form-icon-td {
      padding: 0;

      .form-icon {
        position: relative;
        margin-left: 30%;
        color: $maincolor;
      }
    }

    width: 100%;

    mat-form-field {
      width: 100%;
      margin: 1.5% auto;

      button {
        &:hover {
          cursor: pointer !important;
        }
      }
    }
  }

  .table2 {
    td {
      padding: 0 5%;
    }

    button {
      margin-top: 3%;
    }
  }

  .button-confirm {
    margin: 2% auto;
    color: white !important;
    width: 50%;
    display: block;
    background-color: $maincolor;
    border-radius: 10px;
    border: $maincolor 2px solid;
    transition-duration: .5s;
  }

  .subsubnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.tableFileReader {
  img {
    display: block;
    margin: 0 auto;
  }

  mat-form-field {
    max-width: 40% !important;
    margin: 0 auto;
    display: block;
  }
}


@media (max-width:800px) {
  .personal-data {
    margin-top: 5%;

    h1 {
      padding-top: 2%;
    }

    .table {
      width: 100%;
      margin-top: 15%;
      overflow: hidden;

      mat-form-field {
        display: block;
      }

      tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        td {
          min-width: 90%;
          margin: 2% auto;
          i{
            display: none;
          }
        }
      }

      .button-confirm {
        margin: 4% auto;
      }
    }
  }
}
